<%= stylesheet_link_tag 'index' %>
<%= render 'header' %>
<div class="container" id="container">
  <%= render 'search_form' %>
  <div class="container howtoMainContainer">
    <a><small id="howto">使い方</small></a>
    <div id="howtoContent">
      <div class="howtoStep">
        <p><span class="badge badge-info">1</span></p>
        <div class="alert alert-info">
            関連商品を検索したい商品を探します。検索ワードをボックスに入力して検索を実行しましょう。
        </div>
        <img src=<%= asset_path "assets/first.png" %> alt="" />
      </div>
      <div class="howtoStep">
        <p><span class="badge badge-info">2</span></p>
        <div class="alert alert-info">
          商品の検索結果が表示されます。ここで関連商品を探したい商品の「関連検索」ボタンを押しましょう。
        </div>
        <img src=<%= asset_path "assets/second.png" %> alt="" />
      </div>
      <div class="howtoStep">
        <p><span class="badge badge-info">3</span></p>
        <div class="alert alert-info">
          商品が「選択中」となり下に関連商品が表示されます。（APIの制約上5件までしか表示されません・・・）<br>
          さらに関連商品の関連検索をすることで階層的に関連商品を辿ることができます。
        </div>
        <img src=<%= asset_path "assets/third.png" %> alt="" />
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#howto').bind('click', function(event) {
    $('#howtoContent').animate({opacity :'toggle'}, 'fast');
  });
</script>
