<%= stylesheet_link_tag(asset_path 'search',type: :stylesheet) %>
<%= javascript_include_tag(asset_path('sonic',type: :javascript),asset_path('main',type: :javascript),asset_path('pagination',type: :javascript)) %>
<%= render 'header' %>
<div class="container" id="container">
  <%= render 'search_form' %>
  <script type="text/javascript" charset="utf-8">
    initPage("<%= @amazon.force_encoding('utf-8').html_safe %>",<%= @totalPage%>,"<%=@searchword.html_safe%>");
  </script>
</div>
